{% extends 'frontpageLayout.html.twig' %}
{% block page %}

<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
</style>
    <h1 xmlns:margin-right="http://www.w3.org/1999/xhtml">Bar près de chez vous</h1>
    <div class="container">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{{ asset('assets/userSpace/img/gallery/bar1.jpg') }}" alt="Chania" width="480px" height="270px">
                </div>

                <div class="item">
                    <img src="{{ asset('assets/userSpace/img/gallery/bar3.jpg') }}" alt="Chania" width="500px" height="500px">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
        </div>
    </div>
    <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d672.09516916467!2d6.859472497567284!3d47.63816887561197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb9d97840e3de0d51!2sBistrot+des+Moines!5e0!3m2!1sfr!2sfr!4v1484227604289" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <br>
{% endblock %}
