{% extends 'frontpageLayout.html.twig' %}
{% block page %}
    <div class="col-lg-12">
        <div class="col-lg-6">
            <h1>Évènements à venir</h1>
            <h2>demain</h2>
            <h2>la semaine prochaine</h2>
        </div>
    </div>
{% endblock %}